<% if notice %>
  <div class="js-alert bg-blue-lightest border border-blue-light text-blue-dark px-4 py-3 rounded mb-6" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="js-alert bg-red-lightest border border-red-light text-red-dark px-4 py-3 rounded mb-6" role="alert">
    <%= alert %>
  </div>
<% end %>
