<% if notice %>
  <div class="flex items-center justify-center pa4 bg-lightest-blue black-70">
    <span class="lh-title"><%= notice %></span>
  </div>
<% end %>

<% if alert %>
  <div class="flex items-center justify-center pa4 bg-washed-red black-70">
    <span class="lh-title"><%= alert %></span>
  </div>
<% end %>