<%= content_for :title do %>
  <%= t(".title") %>
<% end %>

<div class="w-100 w-50-ns center black-70 ph3 pt3 pt4-ns mt3 mb6">
  <h1 class="f3 f2-ns">
    <%= t(".title") %>
  </h1>

  <%= render "form" %>
</div>