<%= simple_form_for [:admin, @shipment_next_date] do |f| %>
  <%= f.input :date, as: :string, input_html: { class: "w-auto" } %>

  <div class="mt4">
    <%= f.button :submit, class: "mr2 bg-els-purple" %>
    <%= link_to t("cancel"), admin_root_path, class: "no-underline dib dim f6 br2 ph3 pv2 white bg-gray" %>
  </div>
<% end %>